<%= render 'shared/header' %>

<div class="container">
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <div id="match">
        <p><%= @match.nickname %></p>
        <p><%= @match.uid %></p>
        <p><%= image_tag @match.image_url, class: "img-circle img-thumbnail" %></p>
        <p><%= @match.description %></p>
        <div class="row">
            <%= button_to "Reject", rejects_path(rejected_user_id: @match.id), id: "reject-button" %>
            <%= button_to "Approve", selections_path(selected_user_id: @match.id), id: "approve-button" %>
        </div>
      </div>
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>
